@import "src/styles";
@import "src/styles/screen";

$highlight-color: rgb(255, 187, 1);

.abouts {
	width: 100%;
	max-width: 1024px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 5rem 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	& > div {
		display: grid;
		grid-template-areas: "title title title" "blog github mail" "description description description";
		gap: 15px;
	}
}

.title {
	grid-area: title;
	flex-shrink: 0;
	white-space: nowrap;
	text-shadow: 5px 5px 0 $highlight-color;
}

.text {
	@extend .box;
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	gap: 10px;

	& > span {
		color: white;
		font-weight: 800;
	}
}

.link {
	@extend .box;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	gap: 10px;

	& > span {
		@extend .trans-text;
		font-weight: 800;
	}

	&:hover {
		transform: translateY(-0.2rem);
		transition: all 0.3s ease-in-out;
	}

	svg > * {
		color: #667eea !important;
		fill: #667eea !important;
	}
}

.mail {
	@extend .link;
	grid-area: mail;
}

.blog {
	@extend .link;
	grid-area: blog;
}

.github {
	@extend .link;
	grid-area: github;
}

.description {
	@extend .box;
	grid-area: description;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	article {
		h1 {
			font-weight: 600;
			font-size: 1.25rem;
		}

		ul {
			padding-left: 40px;
		}

		li {
			list-style-type: disc;
			list-style-position: outside;
			font-weight: 300;
			word-break: keep-all;
			white-space: pre-line;
			font-size: 1.1rem;
			line-height: 1.85rem;
		}

		a {
			text-decoration: underline;

			&:hover {
				color: $highlight-color;
			}
		}
	}
}

.highlight {
	color: $highlight-color;
	font-weight: 900;
}
