.box {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.5);
}

.trans-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}