@import "src/styles/palette";

.wordContainer {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.word {
	color: black;
	position: absolute;
	font-size: 3rem;
	font-weight: bold;
	top: -4rem;
}

.highlight {
	color:color(green, lighter);
}
