@import "@styles/palette";

.contact {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	gap: 0.5rem;
	flex: 1 0 0;
	margin: 0 0 1rem;
	padding: 0 0 1.5rem;
	border-bottom: 2px solid white;

	h1 {
		font-size: 2rem;
		font-weight: 300;
		color: white;
	}

	a {
		display: flex;
		gap: 1rem;
		align-items: center;
		background: rgba(0, 0, 0, 0.4);
		padding: 0.8rem 1rem;
		transition: 0.5s ease-in-out;
		color: white;

		&:hover {
			transform: translateY(-0.3rem);
			background: black;
		}
	}

	a > span {
		display: block;
		flex: 1 1 0;
	}
}

.copyButton {
	border-radius: 5px;
	padding: 0.3rem;
	background: white;
	transition: 0.5s ease-in-out;

	& > * {
		stroke: color(green, darker);
		stroke-width: 2px;
	}

	&:hover {
		background: color(green, base);
	}
}
