@import "@styles/palette";

@mixin details {
	li {
		margin: 0 0 1rem;
		color: white;
	}
}

.blog {
	@include details;

	img {
		margin: 0 0 0.5rem;
	}
}

.highlight {
	color: #ffd501;
}

.link {
	text-decoration: underline;
	color: color(green, "extreme-lighter");
}
