.links {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;

}

.rights {
	margin: 10px 0 0;
	text-align: center;
}

.icon {
	#Dribbble-Light-Preview {
		fill: white !important;
	}
}
